<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DailyFusion"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".calcBMI" />
        <activity android:name=".health_check" />
        <activity android:name=".calcBMR" />
        <activity android:name=".water_need" />
        <activity android:name=".calcBSA" />
        <activity android:name=".calories_burn" />
        <activity android:name=".gameplay" />
        <activity android:name=".right_wrong" />
        <activity android:name=".tictactoe" />
        <activity android:name=".memory" />
        <activity android:name=".word_game" />
        <activity android:name=".rock_paper_scissor" />
        <activity android:name=".calcMoney" />
        <activity android:name=".motivate" />
        <activity android:name=".workList" />
    </application>

</manifest>